<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">


    <title>Cover Template for Bootstrap</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

  </head>

  <body>
    <div id="container">
      <div class="site-wrapper">

        <div class="site-wrapper-inner">

          <div class="cover-container">

            <div class="masthead clearfix">
              <div class="inner">
                <h3 class="masthead-brand">Cover</h3>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>

            <div class="inner cover" id="intro">
              <h1 class="cover-heading">Cover your page.</h1>
              <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
              <p class="lead">
                <a href="#" class="btn btn-lg btn-success">Sign in</a>
                <a href="#second" class="btn btn-lg btn-warning">Learn more</a>
              </p>
            </div>


          </div>

        </div>

      </div>
    </div>

    <div id="second" style="height:800px">
      <div style="height:265px">
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <img class="logo" src="images/bitel-logo.png" alt="...">

            <div class="caption">
              <h3>Thumbnail label</h3>
          </div>
        </div>
      </div>
              <div class="col-md-3">
          <div class="thumbnail">
            <img class="logo" src="images/claro-logo.png" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
          </div>
        </div>
      </div>
              <div class="col-md-3">
          <div class="thumbnail">
            <img class="logo" src="images/entel-logo.png" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>

          </div>
        </div>
      </div>
              <div class="col-md-3">
          <div class="thumbnail">
            <img class="logo" src="images/movistar-logo.png" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div id="third" style="background-color: black; height:800px">


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--     // <script src="../../dist/js/bootstrap.min.js"></script>
    // <script src="../../assets/js/docs.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
