<% layout ('layout') %>

<div class="container pagination-centered">
  <div class="row " style="margin: 10px" >
    <div class="col-md-8 col-md-offset-2 text-centered" style="background-color: rgba(0, 0, 0, 0.8); border-radius:20px">
      // <script>
      // var country = geoplugin_countryName();
      // $(window).load(function(){
      //   $("#where").html("Hello dear friend from Peru" + country + "!")
      // })
      // </script>

      <h4 id="where" style="color:white">Hello dear friend from Peru</h4><br>
      <p style="color:white">Here you'll find the best option to get a new phone and mobile plan</p>
    </div>
  </div>

   <div class="row firststep" sytle="margin:10px">
    <div class="col-xs-8 col-xs-offset-2 yellow" style=" border-radius:20px; color:white; text-align:center">
      <p style="font-size: 25px; font-family: helvetica">Start by choosing the kind of contract you'd like</p>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <div class="grid-menu clearfix" style="text align:center">
          <div id="new" class="grid-box blue"><a  href="#"><span>New</span></a></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="grid-menu clearfix" style="text align:center">
         <div id="renew" class="grid-box red"><a href="#"><span>Renew</span></a></div>
      </div>
    </div>
  </div>

  <script>
  $("#renew").click(function(){
    $(".firststep").toggle();
    $("#maincarriers").toggle();
  });

  </script>
  
  <div style="display:none" class="row" id="maincarriers">
    <div class="col-xs-8 col-xs-offset-2 blue" style="border-radius:20px; color:white; text-align:center">
        <p style="font-size: 25px; font-family: helvetica">Choose your current carrier</p>
    </div> 

    <% var colors = ["blue", "yellow" , "green" , "red", "turquoise", "black", "brown"]%>
    <% var i = 0 %>
    <% carriers.forEach(function(ac){ %>
    
    <div class="col-xs-3">
      <div class="grid-menu clearfix">          
          <div class="grid-box <%= colors[i]%>"><a href="#"><span><%= ac.carrier_name %></span></a></div>
          <% i++%>
      </div>
    </div>
   <% }) %>
 </div>


  <script>
  $("#new").click(function(){
    $(".firststep").toggle();
    $("#pricerange").toggle();
  });

  </script>
  
  <div style="display:none" class="row" id="pricerange">
    <div class="col-xs-8 col-xs-offset-2 green" style="border-radius:20px; color:white; text-align:center">
      <p style="font-size: 25px; font-family: helvetica">Now choose how much you're paying currently or you'd like to pay</p>
    </div>       
      <div class="grid-box blue col-md-2"><a href="/options/1" ><span> < - 80 </span></a></div>
      <div class="grid-box yellow col-md-2"><a href="/options/2"><span> 80 - 100 </span></a></div>
      <div class="grid-box red col-md-2"><a href="/options/3"><span> 100 - 130 </span></a></div>
      <div class="grid-box turquoise col-md-2"><a href="/options/4"><span> 130 - 160 </span></a></div>
      <div class="grid-box green col-md-2"><a href="/options/5" ><span> 160 - < </span></a></div>
  </div>

  <script>
    $("#maincarriers div div div").click(function(){
      $("#maincarriers").toggle();
      $("#pricerange").toggle();
  });


  </script>
</div>
<!-- 
  <div class="row">
    <div class="col-xs-3" id="see">
      <a href="/options" class="btn btn-block btn-lg btn-warning">Explore</a>
    </div>
  </div>
</div> -->
