<% layout ('layout') %>
	<table class="table">
		<th id="title" colspan="6"> Plan</th>
		<tr>
			<th colspan="2">Carrier</th>
			<td .col-md-4><img class="logo" src="images/bitel-logo.png"></td>
			<td .col-md-4><img class="logo" src="images/claro-logo.png"></td>
			<td .col-md-4><img class="logo" src="images/entel-logo.png"></td>
			<td .col-md-4><img class="logo" src="images/movistar-logo.png"></td>
		</tr>
		<tr>
			<th class="price" colspan="2">Price</th>
			<td > <p id="price1" class="odometer">0</p></td>
			<td > <p id="price2" class="odometer">0</p></td>
			<td > <p id="price3" class="odometer">0</p></td>
			<td > <p id="price4" class="odometer">0</p></td>
		</tr>
		<tr>
			<th class="talk" colspan="2">Talk</th>
			<td> 100 </td>
			<td> 120 </td>
			<td> 120 </td>
			<td> 120 </td>
		</tr>
		<tr>
			<th class="data" colspan="2">Data</th>
			<td> 3 GB</td>
			<td> 3 GB</td>
			<td> 3 GB</td>
			<td> 3 GB</td>
		</tr>
		<tr>
			<th class="sms" colspan="2">SMS</th>
			<td> 500 </td>
			<td> 800 </td>
			<td> 324 </td>
			<td> 324 </td>
		</tr>
		<tr>
			<th class="devices" colspan="2">Devices</th>
			<td> 
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/1752/1752456_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/9001/9001106_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/4809/4809006_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>  
			</td>
			<td> 
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/1752/1752456_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/9001/9001106_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/4809/4809006_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>   
			</td>
			<td> 
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/1752/1752456_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/9001/9001106_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/4809/4809006_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div> 
			</td>			
			<td> 
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/1752/1752456_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/9001/9001106_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>
				<div class="row">
				  <div class=".col-sm-3 .col-md-3">
				    <div class="thumbnail">
				      <img src="http://img.bbystatic.com/BestBuy_US/images/products/4809/4809006_sc.jpg" alt="...">
				      <div class="caption">
				        <p><a href="#" class="btn btn-success" role="button">Button</a></p>
				      </div>
				    </div>
				  </div>
				</div>   
			</td>
		</tr>
	</table>
