body{
	background-image: url("../images/background.jpg");
  background-size: cover;
}


.tsc_pricingtable02 li{
	height: 80px;
}

.container{
	margin-top: 14%;
}

#see{
	margin-top: 30px;
	text-align: center;
	margin-left: 35%
}



.grid-menu{margin: 0 auto;}

.grid-box{
    float: left;
    width: 200px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}
.grid-box-large{width: 100%;}

.grid-box a{
    display: block;
    margin: 0 auto;
    float: center;
    text-align: center;
    padding: 20px;
    font-size: 21px;
    color: #fff;
    border-radius: 
}

.grid-box strong,
/*.grid-box span*/{
    display: block;
}
.grid-box strong{text-align: center; margin-bottom: 23px;}
.grid-box-large strong{text-align: left;}



.blue{background: rgba(103, 176, 209, 0.8);}
.green{background: rgba(96, 205, 155, 0.8);}
.red{background: rgba(232,  115, 82, 0.8);}
.yellow{background: rgba( 235, 200, 94, 0.8);}
.turquoise{background: rgba(47,  153, 155, 0.8);}
.black{background: rgba(51, 51, 51, 0.8);}
.brown{background: rgba(164, 139, 96, 0.8);}




/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


